<div id="<%= dom_id detail %>">
  <p>
    <strong>Adminumber:</strong>
    <%= detail.adminumber %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= detail.first_name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= detail.second_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= detail.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= detail.phone %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= detail.nationality %>
  </p>

  <p>
    <strong>School:</strong>
    <%= detail.school %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= detail.department %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= detail.major %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= detail.level %>
  </p>

</div>
