
<link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">

<p style="color: green"><%= notice %></p>

<%= render @detail %>

<div>
  <%= link_to "Edit this detail", edit_detail_path(@detail), class: "button"%> |
  <%= link_to "Back to details", details_path,  class: "button" %>

  <%= button_to "Destroy this detail", @detail, method: :delete %>
</div>
